<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5level --- [%15thread] %-40logger{39} : %msg%n </pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH:-logs}/application.log</file>
        <append>false</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/application.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5level --- [%15thread] %-40logger{39} : %msg%n </pattern>
            <charset>UTF-8</charset>
        </encoder>
        <immediateFlush>true</immediateFlush>
    </appender>

<!--    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">-->
<!--        <destination>localhost:5000</destination>-->
<!--        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">-->
<!--            <providers>-->
<!--                <timestamp/>-->
<!--                <logLevel/>-->
<!--                <loggerName/>-->
<!--                <message/>-->
<!--                <mdc/>-->
<!--                <arguments/>-->
<!--                <stackTrace/>-->
<!--                <pattern>-->
<!--                    <pattern>-->
<!--                        {-->
<!--                        "service": "spring-boot-app",-->
<!--                        "environment": "development"-->
<!--                        }-->
<!--                    </pattern>-->
<!--                </pattern>-->
<!--            </providers>-->
<!--        </encoder>-->
<!--    </appender>-->

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
<!--        <appender-ref ref="LOGSTASH"/>-->
    </root>

    <logger name="com.example.Mai.sProject" level="DEBUG"/>
</configuration>